<h1>UtOOb</h1>
<h2>Movies</h2>
<hr />
<link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
<div class="row">
  <div class="col-md-12">
     <button class="btn" id="toggle">Show Form</button>
    <ul id="movie-list"> 
      <% @movie.each do |movie| %>
        <li
          class="movie-item"
          data-id= <%= movie.id %>
          movie-name= "<%= movie.title %>"
        >
          <%= link_to movie.title, movie_path(movie) %>

        </li>
      <% end %>
    </ul>
  </div>
  <div class="col s12 m6" id="watch-list">
    <h2 id="watch">Watchlist</h2> 
    <ul id="play"></ul>
  </div>
</div>
